:root {
	--Strong-Cyan: #26baa4;
	--Light-Blue: #6173ff;
	--Dark-Grayish-Blue: hsl(210, 10%, 33%);
	--Grayish-Blue: hsl(201, 11%, 66%);
	--white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 18px;
}
img {
	max-width: 100%;
}

h1,
h2,
h3 {
	color: var(--Dark-Grayish-Blue);
}

p {
	color: var(--Grayish-Blue);
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: var(--Grayish-Blue);
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

/* buttons */
.btn {
	display: inline-block;
	padding: 0.8em 3.2em;
	border-radius: 100vh;
	color: var(--white);
	cursor: pointer;
}

.btn + .btn {
	margin-top: 1.5em;
}

.btn:hover,
.btn:focus {
	opacity: 0.7;
}

.btn-primary {
	background: var(--Strong-Cyan);
	box-shadow: 0px 8px 15px 0px rgba(38, 186, 164, 0.43);
}

.btn-secondary {
	background: var(--Light-Blue);
	box-shadow: 0px 8px 15px 0px rgba(97, 115, 255, 0.43);
}

.btn-group {
	display: flex;
	flex-direction: column;
}

.list-item a:hover,
.list-icon a:hover,
.list-item a:focus,
.list-icon a:focus {
	color: var(--Strong-Cyan);
}

/* layout */

.container {
	width: 90%;
	max-width: 375px;
	margin: 0 auto;
}

header,
section,
footer {
	padding: 4em 0;
	text-align: center;
}

header {
	background: url(../images/bg-header-mobile.png) no-repeat;
	background-size: cover;
}

/* main section */
.main-header {
	padding: 3em 0;
}

.main-title {
	margin-top: 1.5em;
}

/* track-section */
.track-cols {
	display: flex;
	flex-direction: column;
}

.col-img {
	order: -1;
	padding: 2.5em 0;
}

.info-title {
	margin-bottom: 0.5em;
}

.info-subtitle {
	margin-top: 0;
}

.info-col:nth-child(2) {
	margin: 2.5em 0;
}

/* access section */
.access-img {
	margin: 2em 0 0;
}

/* workflow section */
.flow-title {
	max-width: 15ch;
	margin-left: auto;
	margin-right: auto;
}

.info-child {
	margin-top: 4em;
}

.info-child-img {
	margin: 0.4em 0 1.8em 0;
}

/* logos section */
.logo-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo-flex img + img {
	margin-top: 4em;
}

/* download section */
.download-title {
	max-width: 17ch;
	margin-left: auto;
	margin-right: auto;
}

.download-subtitle {
	margin-bottom: 2em;
}

/* main footer */
footer {
	background: hsl(0, 0%, 98%);
	color: var(--Dark-Grayish-Blue);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-item {
	margin-top: 1.5em;
}

.icons-flex {
	margin-top: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-icon + .list-icon {
	margin-left: 2em;
}

/* media query */
@media (min-width: 750px) {
	/* general layout */

	header {
		background: url(../images/bg-header-desktop.png) no-repeat;
	}

	/* main header */
	.main-subtitle {
		max-width: 55ch;
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		max-width: 1440px;
	}

	/* buttons */
	.btn-group {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.btn + .btn {
		margin-top: 0;
		margin-left: 1em;
	}

	/* track section */

	.track-header {
		max-width: 60ch;
		margin: auto;
	}
	.track-cols {
		flex-direction: row;
		align-items: center;
		gap: 4em;
		text-align: left;
		margin-top: 4em;
	}

	.info-img {
		order: -1;
		margin-left: -5em;
	}
	.info-img,
	.info-cols {
		flex: 1 1 50%;
	}

	.col-img {
		margin: 0;
		padding: 0;
	}

	/* access section */
	.access-subtitle {
		max-width: 60ch;
		margin: auto;
	}

	/* workflow section */
	.flow-title {
		max-width: 60ch;
	}

	.flow-info {
		display: flex;
		align-items: center;
		justify-items: center;
		gap: 2em;
		margin-top: 2em;
	}

	.info-child {
		max-width: 30ch;
		margin-left: auto;
		margin-right: auto;
	}

	/* logos section */
	.logo-flex {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.logo-flex img + img {
		margin-top: 0;
	}

	/* download section */
	.download {
		margin-bottom: 6em;
	}
	.download-title,
	.download-subtitle {
		max-width: 60ch;
		margin-left: auto;
		margin-right: auto;
	}

	/* footer */
	footer {
		flex-direction: row;
		gap: 2em;
		align-items: center;
		justify-content: space-between;
		padding: 2em 4em;
		text-align: left;
	}

	.links ul {
		display: flex;
		gap: 2em;
	}

	.links .list-item {
	}
}
