:root {
	--Strong-Cyan: #26baa4;
	--Light-Blue: #6173ff;
	--Dark-Grayish-Blue: hsl(210, 10%, 33%);
	--Grayish-Blue: hsl(201, 11%, 66%);
	--white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 18px;
}
img {
	max-width: 100%;
}

h1,
h2,
h3 {
	color: var(--Dark-Grayish-Blue);
}

p {
	color: var(--Grayish-Blue);
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: var(--Grayish-Blue);
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

/* buttons */
.btn {
	display: inline-block;
	padding: 0.8em 3.2em;
	border-radius: 100vh;
	color: var(--white);
	cursor: pointer;
}

.btn + .btn {
	margin-top: 1.5em;
}

.btn:hover,
.btn:focus {
	opacity: 0.7;
}

.btn-primary {
	background: var(--Strong-Cyan);
	box-shadow: 0px 8px 15px 0px rgba(38, 186, 164, 0.43);
}

.btn-secondary {
	background: var(--Light-Blue);
	box-shadow: 0px 8px 15px 0px rgba(97, 115, 255, 0.43);
}

.btn-group {
	display: flex;
	flex-direction: column;
}

.list-item a:hover,
.list-icon a:hover,
.list-item a:focus,
.list-icon a:focus {
	color: var(--Strong-Cyan);
}

/* layout */

.container {
	max-width: 375px;
	margin: 0 10%;
}

header,
section,
footer {
	padding: 4em 0;
	text-align: center;
}

header {
	background: url(../images/bg-header-mobile.png) no-repeat;
	background-position: center;
	background-size: cover;
}

/* main section */
.main-header {
	padding: 3em 0;
}

.main-title {
	margin-top: 1.5em;
}

/* track-section */
.track-cols {
	display: flex;
	flex-direction: column;
}

.col-img {
	order: -1;
	padding: 2.5em 0;
}

.info-title {
	margin-bottom: 0.5em;
}

.info-subtitle {
	margin-top: 0;
}

.info-col:nth-child(2) {
	margin: 2.5em 0;
}

/* access section */
.access-img {
	margin: 2em 0 0;
}

/* workflow section */
.flow-title {
	max-width: 15ch;
	margin-left: auto;
	margin-right: auto;
}

.info-child {
	margin-top: 4em;
}

.info-child-img {
	margin: 0.4em 0 1.8em 0;
}

/* logos section */
.logo-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo-flex img + img {
	margin-top: 4em;
}

/* download section */
.download-title {
	max-width: 17ch;
	margin-left: auto;
	margin-right: auto;
}

.download-subtitle {
	margin-bottom: 2em;
}

/* main footer */
footer {
	background: hsl(0, 0%, 98%);
	color: var(--Dark-Grayish-Blue);
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-item {
	margin-top: 1.5em;
}

.icons-flex {
	margin-top: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-icon + .list-icon {
	margin-left: 2em;
}
